<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/website.css">
    <title><%- title %></title>
  </head>
  <body>
    <div id = "title"> <%- title %> </div>
    <div id = "desc"> <%- desc %> </div>
    <div id = "spec"> <%- spec %> </div>
    <div id = "career"> <%- career %> </div>
    <div id = "button"><div id="links"><a href="/">Back to HomePage</a></div></div>
  </body>
</html>
